body {
    background: url('https://www.yalgaar.io/Content/themes/Admin/img/login_full_bg.jpg') no-repeat center fixed;
    background-size: cover;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}



.col-md-4 {
    padding: 65px;
}
